outputExtension=mp4
#Replace _nvenc with _amf if you have an AMD GPU.
#If you're on some primitive platform that doesn't support HEVC, use h264_nvenc instead.
#If you have a new enough GPU and are on a platform which supports AV1, use av1_nvenc instead. But then also set outputExtension=webm
videoEncoder=hevc_nvenc
#Set this to whatever the limit for the platform is. nvenc at least always goes over this limit, so it needs to be 5-15% lower than the platform limit.
#two-pass does not work for hardware encoders.
targetSize=90MiB
quality=
speed=0
#nvenc likes this special format. You can set it to yuv420p10le or whateever AMD uses.
pixelFormat=p010le

#Most platforms can't show this anyways, might as well remove it
removeSubtitles=true
removeMetadata=true
removeChapters=true
priority=Normal

#Crop your clips as necessary
#startTime=2:05
#endTime=8:50
#duration=22.8